<div class="menu-bar-container">
  <div class="menu-bar-logo">
    <img 
    src="assets/ps-logo.png" 
    alt ="playstation logo"
    srcset=""
    width="140px"
    height="32px">
  </div>
  <div class="menu-bar-item">
    <ul>
      <li><a href="https://www.youtube.com/watch?v=BQB9ZDQ0qfU">YOUTUBE</a></li>
      <li><a href="https://www.linkedin.com/in/charles-reis-magalhães-silva-783232276/">LINKEDIN</a></li>
      <li><a href="https://github.com/CharlesReisDev">GITHUB</a></li>
    </ul>
  </div>
</div>